/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
#main{
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: #fff; */
  display: flex;
}
#sidenav #right input{
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-top: 5px;
  outline: none;
  /* display: none; */
}
#right #createfile{
  display: none;
}
#right #createfolder{
  display: none;
}
#sidenav{
  position: relative;
  width: 25vw;
  height: 100%;
  /* background-color: #dadada; */
  /* padding: 10px 22px; */
  border-right: 1px solid #000;
  /* display: flex; */
}
#sidenav #left{
  position: fixed;
  width: 4%;
  height: 100%;
  background-color: rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 999999;
}
#left #icon-up{
  position: relative;
  width: 100%;
  height:68%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  /* background-color: #fff; */
}
#left #icon-up a{
  text-decoration: none;
  color: rgb(114, 112, 112);
}
#left #icon-up a:hover{
  color: rgba(231, 231, 231, 0.831);
}
#left #icon-up a i{
  font-size: 33px;
  font-weight: 400;
}
#left #icon-down{
  position: relative;
  width:100%;
  height:18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
  /* background-color: black; */
}
#left #icon-down a{
  text-decoration: none;
  color: rgb(114, 112, 112);
}
#left #icon-down a:hover{
  color: rgba(231, 231, 231, 0.831);
}
#left #icon-down a i{
  font-size: 33px;
  font-weight: 400;
}

#sidenav #right{
  position: relative;
  width: 86%;
  height: 100%;
  background-color: rgb(41, 41, 41);
  /* padding: 10px 22px; */
  border-right: 1px solid #000;
  color: rgba(236, 235, 235, 0.993);
  font-weight: 300;
  padding: 0% 5px;
  left: 15%;
  /* transition: all cubic-bezier(0.19, 1, 0.22, 1)2s; */
}
#sidenav #right #head{
  position: relative;
  width: 100%;
  height: 50px;
  /* background-color: rgba(115, 106, 115, 0.838); */
  display: flex;
  align-items: center;
}
#sidenav #right #head h1{
  font-size: 15px;
  font-family: "Aeonik";
  margin-left: 8px;
  cursor: pointer;
}
#sidenav #right #head #head-icon{
  font-size: 22px;
  margin-left: 4px;
  padding: 2px 2px;
  width: 20px;
  height: 15px;
  background: none;
  color: #fff;
  margin-bottom: 10px;
}
#sidenav #right #head #icons{
 margin-left: 75px;
 font-size: 21px;
}
#sidenav #right #head #icons i{
  margin-left: 2px;
}
#sidenav #right #head #icons i:hover{
  background-color: rgba(93, 93, 93, 0.838);
  border-radius: 5px;
  cursor: pointer;
}
#sidenav #right #head i:hover{
  background-color: rgba(75, 75, 75, 0.957);
  border-radius: 5px;
  cursor: pointer;
}
#icons a{
  text-decoration: none;
  color: rgba(236, 235, 235, 0.993);
}
.files{
  margin-top: 20px;
}
.file{
  font-family: "Gilroy";
  /* background-color: rgba(115, 106, 115, 0.838); */
  padding: 8px 20px;
  font-size: 17px;
  /* margin-top: 2px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300 !important;
  /* justify-content: space-evenly; */
}
.naam{
  display: flex;
  align-items: center;
}
#fileicon{
  margin-right: 15px;
}
#deletebtn{
  /* margin-left: 140px; */
  opacity: 0;
}
.file a{
  text-decoration: none;
}
.file:hover #deletebtn{
  opacity: 1;
  cursor: pointer;
  color: #fff;
}
.file:hover{
  background-color: rgba(60, 60, 60, 0.963);
  cursor: pointer;
}
/* .folders{
  margin-top: 20px;
} */
.folder{
  font-family: "Gilroy";
  background-color: rgba(115, 106, 115, 0.838);
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* justify-content: space-evenly; */
}

.foldername{
  display: flex;
  align-items: center;
}
/* #foldericon{
  margin-left: 20px;
} */
#foldericon{
  margin-right: 16px;
}
#folderdeletebtn{
  /* margin-left: 140px; */
  opacity: 0;
}
.folder a{
  text-decoration: none;
}
.folder:hover #folderdeletebtn{
  opacity: 1;
  cursor: pointer;
}
.folder:hover{
  background-color: rgba(177, 171, 177, 0.916);
  cursor: pointer;
}
hr{
  background-color: #000;
}
#code{
  position: relative;
  /* width: calc(100% - 25vw); */
  width: 80%;
  height: 100%;
  /* background-color: #fff; */
  background-color: rgb(31, 31, 31);
  border-left: 1px solid black;
}
#code #upnav{
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgb(36, 36, 36);
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
}
#code #upnav #filename-nav{
  position: relative;
  width: 80%;
  height: 50px;
  display: flex;
  flex-direction: row;
  padding: 4px 10px;
}
.filename{
  font-family: "Gilroy";
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: rgba(115, 106, 115, 0.838);
  height: 40px;
  width:160px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0% 10px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  /* margin-left: 10px; */
}
.filename i:nth-child(2){
  font-weight: 900;
  margin-left: 10px;
  opacity: 0;
}
.filename:hover i:nth-child(2){
  opacity: 1;
}
.filename i:nth-child(2):hover{
  background-color: rgb(45, 45, 45);
  border-radius: 3px;
}
.filename:hover{
  cursor: pointer;
}
.filename a{
  text-decoration: none;
  font-size: 15px;
  color: rgba(177, 171, 177, 0.838);
  opacity: 0;
  margin-top:4px;
  font-size:20px;
}
.filename:hover a{
  opacity: 1;
}
#code #upnav hr{
  background-color: rgba(177, 171, 177, 0.838);;
  border: 0.5px solid rgba(75, 74, 74, 0.838);;
  /* margin-left: 10px; */
}
#source{
  width: 15%;
  height: 50px;
  position: relative;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  justify-content: right;
  padding: 8px 0px;
  /* background-color: #000; */
  margin-left: 30px;
}
#source a{
  font-size: 27px;
  margin-left: 10px;
  text-decoration: none;
  color: rgba(189, 188, 188, 0.906);
  font-weight: 400;
}
#source a:hover{
  color: #fff;
}
#run-code a:hover{
  color: #fff;
}
#code form{
  position: relative;
  margin-top: 6px;
  width: 100%;
  height: calc(100% - 60px);
  border: none;
  outline: none;
  font-size: 20px;
  /* padding-left: 2px; */
  background-color: rgb(31, 31, 31);
  color: #fff;
}
#code form textarea{
  position: relative;
  /* margin-top: 6px; */
  width: 100%;
  height: calc(100% - 70px);
  border: none;
  outline: none;
  font-size: 20px;
  padding: 5px;
  background-color: rgb(31, 31, 31);
  color: #fff;
  text-emphasis: none;
}
#run-code{
  position: absolute;
  top:-7.2%;
  left: 89%;
  background:none;
  border:none;
  /* text-decoration:none; */
}
#run-code a{
  font-size: 30px;
  text-decoration: none;
  color: rgba(189, 188, 188, 0.906);
  font-weight: 400;
}
#open-html{
  border-radius: 10px;
  background-color: transparent;
  color: white;
  padding: 0px 10px;
  border: 1px solid white;
  position: absolute;
  top: 17px;
  right: 12%;
}
#open-html a{
  color: white;
  text-decoration: none;
}